.THIS.dualpane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.THIS.dualpane > div {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 250px;
}

.THIS .account-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.THIS .account-grid > .bw_toggle-wrapper {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 80px;
    height: 80px;
    margin: 12px;
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid #000;
    border-radius: 4px;
}

.THIS .account-grid h4 {
    font-style: italic;
}

.THIS .account-grid > .bw_toggle-wrapper.bw_toggle-wrapper-selected {
    background: #EEFAFF;
    border-color: #013;
}