.THIS .allign-right {
	text-align: right;
}

.THIS th {
	vertical-align: top;
}

.THIS .first-column {
	width: 100px;
}

.THIS .slds-table--bordered .top-border--no {
	border-top: 0;
}

.THIS .border-right {
	border-right: 1px solid #d8dde6;
}

.THIS .border-bottom {
	border-bottom: 0;
}

.THIS .hidden {
	visibility: hidden;
	display: none;
}

.THIS tr:first-child > td.salesRepNum:first-child {
	color: #16325c;
}

.THIS tr:first-child > td.salesRepName:nth-child(2) {
	color: #16325c;
}

.THIS tr > td.salesRepNum:first-child {
	color: transparent;
}

.THIS tr > td.salesRepName:nth-child(2) {
	color: transparent;
}

.THIS .salesRepBlock {
	border: 1px solid #d8dde6;
	padding: 0.5rem 1.5rem;
	/*font-weight: bold;*/
}

.THIS .currentYearBorder {
	border-right: 1px solid;
	border-color: #d8dde6;
}

.THIS .border {
	border: 1px solid #d8dde6;
}

.THIS .month {
	min-width: 125px;
}