div.THIS {
    position:relative;
}

.THIS .slds-popover {
    position: absolute;
    left: 25px;
    top: 0px;
}
.THIS .displayed-help-contents {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.THIS .hidden-help-contents {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.THIS .popup-container
{
    position: relative;
}

.THIS .popup-content
{
    position: fixed;
    z-index: 100;
    background-color:rgb(244,246,249);
    word-break: break-all;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px;
}