<apex:page standardController="Apttus_Proposal__Proposal__c" tabStyle="Opportunity"> 
  <apex:pageBlock >
  <h1>Sikaplan Promotion</h1>
  <br></br>
  <br>Sika Sarnafil is currently running a promotion on SPL Fastened-60 White 24inx100ft. We are offering this product for $100.00 per roll while supplies last.</br>
  <br>Various applications include: Detail flashing, Curb flashing, Wall flashing, Temporary walkways, Separator sheets under solar equipment</br>

  </apex:pageBlock>
</apex:page>