<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
    <apex:composition template="CommunityBaseTemplate">
        <apex:define name="pageContent">
            <script type="text/javascript">
                window.setTimeout(function() {
                    window.location.href = '{!$Page.CommunityLogin}';
                }, 5000);
            </script>
            <div class="MainContent" id="containerDiv">
                <div class="row" id="innerDiv" style="padding: 20px; font-size: 18px;">
                    {!$Label.Warranty_Self_Reg_Success}
                </div>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>