<apex:page lightningStylesheets="true" standardController="Dispenser_Installation__c" extensions="Dispenser_Installationctrl_Edit" sidebar="false" docType="html-5.0">
    
    <!--<apex:includeScript value="{!URLFOR($Resource.JQueryMin, '/jquery/jquery-ui.js')}"/>

<apex:includeScript value="{!URLFOR($Resource.JQueryMin, '/jquery/external/jquery/jquery.js')}"/>

<apex:includeScript value="{!URLFOR($Resource.JQueryMin, '/jquery/jquery-ui.min.js')}"/>-->
    
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <style type="text/css">
            
            .testing {
                background-color: #c00;
                position: absolute;
                left: -4px;
                width: 3px;
                top: 1px;
                bottom: 1px;
            }
        .txtare
        {
            padding:2px 10px;
            border-radius: 20px;
            line-height: 20px;
            border: #a9a9a9 solid 1px;
        }
        input[type=text] 
        {
            padding:2px 10px;
            border-radius: 20px;
            line-height: 20px;
            border: #a9a9a9 solid 1px;
        }
        input[type=select]
        {
            padding-top: 0;
            border-radius: 20px;
            line-height: 10px;
            border: #a9a9a9 solid 1px;
        }
        .selct
        {
            border-radius: 20px;
            padding-top: 0;
            height: 25px;
            border: #a9a9a9 solid 1px;
        }
        
        .custBtn 
        {
            background: #6b6d05!important;
            border: 1px solid #3a3302 !important;
            padding: 7px 12px !important;
            color: #fff !important;
            font-size: 13px !important;
            margin-top:0px !important;
        }
        
        
        .custBtn1 
        {
            background: #c70101    !important;
            border: 1px solid #273a49 !important;
            padding:5px 7px !important;
            color: #fff !important;
            font-size: 13px !important;
        }
        
        
        .custBtn2 
        {
            background: #008000 !important;
            border: 1px solid #940404 !important;
            padding: 5px 12px !important;
            color: #fff !important;
            font-size: 13px !important;
        }
        
        .custBtn3 
        {
            background: #019901 !important;
            border: 1px solid #273a49 !important;
            padding:5px 7px !important;
            color: #008000 !important;
            font-size: 13px !important;
        }
        
        .selectStyle 
        {
            padding:3px 10px;border-radius: 20px;line-height: 20px;border: #a9a9a9 solid 1px;width:100%;
        }
        
        .mainTableRepeat 
        {
        }
        
        table.mainTableRepeat tr:nth-child(even) 
        {
            background-color: #ffffff;
        }
        
        table.mainTableRepeat tr:nth-child(odd) 
        {
            background-color: #eeeeea;
        }
        
        table.mainTableRepeat tr th 
        {
            background-color: #64b49d;
            color:#fff;
        }
        
        body .bRelatedList .pbTitle h3, body .bPageBlock .pbTitle h2, body .bPageBlock .pbTitle h3, body .bSubBlock h3.lbHeader 
        {
            color: #000;
            font-size: 1.25em;
            white-space: nowrap;
        }
        #opaque {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        background-color: gray;
        filter: alpha(opacity=80);
        opacity: 0.8;
        -moz-opacity:0.8;
        -khtml-opacity:0.8
        }
        
        * html #opaque {
        position: absolute;
        }
        /***  .custMandi {
            border-left:#c00 solid 3px !important;
            }**/
            input[type=text] {
                
                width: 145px !important;
            }
        @media screen and (min-width:0px) and (max-width: 480px){
            
            .textCenterBTN {
                text-align:center !important;
                margin:10px 0 0 0;
            }
            input[type=file] {
                margin:0 auto;
            }
            
        }
        </style>
        <style>
            .ticker {
                FONT-WEIGHT: normal;
                FONT-SIZE: 12px;
                COLOR: #FF6600;
                FONT-FAMILY: Arial, Helvetica, sans-serif;
                font-style: normal;
                text-transform: none;
                border-top-style: none;
                border-right-style: none;
                border-bottom-style: none;
                border-left-style: none;
                text-decoration: none;
                text-align: justify;
                line-height: normal;
                padding: 0px;
            }
        input:focus,
            select:focus,
                textarea:focus{
                    outline:none;
                }
        input,
            select,
            textarea{
                border-radius:0px !important;
            }
        </style>
        
        <script> 
            
            function showSpinner()
        {
            document.getElementById('opaque').style.display='block';
            var popUp = document.getElementById('spinner');
            
            popUp.style.display = 'block';
        } 
        </script>  
        
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        
    </head> 
    <apex:pageMessages id="errormsg" />
    <apex:form id="myPageBlock">
        <apex:actionfunction name="fun1" action="{!productvalue}" reRender="trp,outid,myPageBlock" />
        <apex:actionfunction name="fun2" action="{!totalcost}" reRender="trp,outid,myPageBlock" />
        <apex:actionfunction name="fun4" action="{!productvalue1}" reRender="trp,outid,myPageBlock" />
        <apex:actionfunction name="fun3" action="{!address}" reRender="trp,outid,myPageBlock" />
        <apex:actionfunction name="fun5" action="{!address1}"  reRender="trp3" />
        <apex:actionfunction name="fun6" action="{!purchasecost}" reRender="myPageBlock" />
        <apex:pageBlock title="Dispenser Installations">
            <apex:pageBlockSection title="INFORMATION">
                <apex:inputField value="{!di.Dispenser_Tech__c}"/>
                <apex:inputField value="{!di.Date__c}"/>
                <apex:inputField value="{!di.Region__c}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="CUSTOMER SOLD-TO ACCOUNT DETAILS">
                <apex:inputField value="{!di.Customer_Name1__c}" onchange="fun3()"/>
                <apex:inputField value="{!di.Customer_code__c}"/>
                <apex:inputfield value="{!di.Street__c}" />
                <apex:inputfield value="{!di.City__c}"/>
                <apex:inputfield value="{!di.State_Province__c}"/>
                <apex:inputfield value="{!di.Zip_Postal_Code__c}"/>
                <apex:inputField value="{!di.Country__c}"/>
            </apex:pageBlockSection>
            <!--  <apex:pageBlockSection title="CUSTOMER DETAILS">
<apex:inputField value="{!di.New_Account__c}" styleClass="selct"/>
</apex:pageBlockSection>
<apex:pageBlockSection title="CUSTOMER SHIP-TO ACCOUNT DETAILS">
<apex:inputField value="{!di.Account__c}" onchange="fun3()"/>
<apex:inputField value="{!di.Customer_s_Account_Code__c}"/>
<apex:inputField value="{!di.Installation_Street__c}"/>
<apex:inputField value="{!di.Installation_City__c}"/>
<apex:inputField value="{!di.Installation_State_Province__c}"/>
<apex:inputField value="{!di.Installation_Zip_Postal_Code__c}"/>
<apex:inputField value="{!di.Installation_Country__c}" styleClass="selct"/>
</apex:pageBlockSection>-->
            <div class="pbSubheader brandTertiaryBgr tertiaryPalette"><h3>TYPE OF CURRENT ACCOUNT</h3></div>
            <div class="pbSubsection">
                <table class="detailList" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <apex:actionRegion >
                            <th class="labelCol vfLabelColTextWrap  last " scope="row"><label for="j_id0:myPageBlock:j_id32:trp1:j_id43">Customer ship to New Account</label></th>
                            <td> 
                                <apex:inputField value="{!di.New_Account__c}" styleClass="selct" required="false" rendered="{! !isUserFromFinance}">
                                    <apex:actionSupport event="onchange" rerender="test1"/>
                                </apex:inputField>
                                <apex:outputField value="{!di.New_Account__c}" rendered="{! isUserFromFinance}">
                                </apex:outputField>
                            </td>
                            <td class="labelCol empty">&nbsp;</td>
                            <td class="dataCol empty">&nbsp;</td>
                        </apex:actionRegion>
                    </tr>
                </table>
            </div>
            
            <apex:outputPanel id="test1"  >
                <apex:pageBlockSection title="CUSTOMER SHIP-TO ACCOUNT DETAILS" rendered="{!di.New_Account__c= 'No'}" id="trp3" >
                    <apex:inputField value="{!di.Account__c}"  onchange="fun5()" required="false" />
                    <apex:inputField value="{!di.Customer_s_Account_Code__c}"/>
                    <apex:inputField value="{!di.Installation_Street__c}"/>
                    <apex:inputField value="{!di.Installation_City__c}"/>
                    <apex:inputField value="{!di.Installation_State_Province__c}"/>
                    <apex:inputField value="{!di.Installation_Zip_Postal_Code__c}"/>
                    <apex:inputField value="{!di.Installation_Country__c}" styleClass="selct" rendered="{! !isUserFromFinance}"/>
                    <apex:outputField value="{!di.Installation_Country__c}" rendered="{! isUserFromFinance}"/>
                </apex:pageBlockSection>
                <apex:pageBlockSection title="CUSTOMER SHIP-TO ACCOUNT DETAILS" rendered="{!di.New_Account__c= 'Yes'}" id="trp4" >
                    <apex:inputField value="{!acc1.name}" />
                    <apex:inputField value="{!acc1.BillingStreet}"/>
                    <apex:inputfield value="{!acc1.BillingCity}" />
                    <apex:inputfield value="{!acc1.BillingState}"/>
                    <apex:inputfield value="{!acc1.BillingPostalCode}"/>
                    <apex:inputfield value="{!acc1.BillingCountry}"/>
                    <!-- <apex:inputField value="{!di.Country__c}"/>-->
                </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:pageBlockSection title="CAPITAL INVESTMENT">
                <apex:inputField value="{!di.Type_of_Installation__c}" onchange="fun3()" styleClass="selct" rendered="{! !isUserFromFinance}"/>
                <apex:outputField value="{!di.Type_of_Installation__c}" rendered="{! isUserFromFinance}"/>
                <apex:inputField value="{!di.Customer_Name__c}"/>
                <apex:inputField value="{!di.Site_Address__c}"/>
                <apex:inputField value="{!di.Distance_From_Sika_Facility__c}"/>
                <apex:inputField value="{!di.Purchase_Date__c}"/>
                <apex:inputField value="{!di.Last_12_months_Material_Margin__c}"/>
                <apex:inputField value="{!di.Last_12_months_Gross_sales_of_Customer__c}"/>
                <apex:inputField value="{!di.Justification_For_Upgrade__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="ACTUAL INVESTMENT">
                <apex:inputField value="{!di.Installation_Date__c}" styleClass="selct"/>
                <apex:inputField value="{!di.Real_Cost__c}"/> 
            </apex:pageBlockSection>
            <apex:pageblocksection title="ESTIMATED INVESTMENT">
                <apex:inputField value="{!di.Estimated_Installation_Date__c}" styleClass="selct"/> 
                <apex:inputField value="{!di.Budget_Cost__c}"/> 
            </apex:pageblocksection>
            <apex:pageblocksection title="FINANCE INFORMATION">
                <apex:inputField value="{!di.SAP__c}" styleClass="selct"/> 
                <apex:inputField value="{!di.SAP_Asset_Code__c}"/> 
                <apex:inputField value="{!di.SAP_Capitalization__c}"/>  
            </apex:pageblocksection> 
        </apex:pageBlock>
        <div id="opaque"/>
        
        
        <apex:pageblock id="myPageBlock" title="INSTALLATION DETAILS">
            <div align="right">
                <apex:outputPanel rendered="{! isUserFromSalesOrTechSales}">
                    <apex:commandbutton value="Add +"  action="{!Add}"   reRender="trp,outid,myPageBlock"  styleClass="custBtn2" oncomplete="focusfun();"/>
                </apex:outputPanel>
            </div>
            <apex:outputPanel id="theSection">
                <apex:outputPanel id="trp">
                    <div class="table-responsive">
                        <table width="100%" border="1" cellspacing="1" cellpadding="5" class="mainTableRepeat table" bgcolor="#a19300">
                            <tr>
                                <th align="Left" valign="middle">Type Of Asset</th>
                                <th align="Left" valign="middle">Asset Specification</th>
                                <th align="Left" valign="middle">Suppliers Name</th>
                                <th align="Left" valign="middle">Quantity</th>
                                <th align="Left" valign="middle">Purchase Cost</th>
                                <th align="Left" valign="middle">Total Cost</th>
                                 <apex:outputPanel rendered="{! isUserFromSalesOrTechSales}" layout="none">
                                    <th align="Left" valign="middle"></th>
                                </apex:outputPanel>  
                                
                            </tr>
                            <apex:variable var="custIterator" value="{!0}"/>
                            <apex:repeat value="{!justlist}" var="co" id="therepeat">
                                <tr>
                                    <!--<td align="Left" valign="middle"><apex:inputfield value="{!co.S_No__c}" /></td> -->
                                    <!--   <td align="left" valign="middle">
<div class="custMandi"><apex:inputfield value="{!co.Type_Of_Assert__c}"  onchange="fun1();"  list="{!asse}"></apex:inputfield>
</div>
</td>
<td align="Left" valign="middle"><div class="custMandi"><apex:inputfield value="{!co.Asset_Specification__c}" /></div></td>     --> 
                                    <td align="Left" valign="middle">
                                        <div class="custMandi">
                                            <apex:inputfield value="{!co.Type_Of_Asset1__c}"/>
                                          
                                        </div>
                                    </td>
                                    <td align="Left" valign="middle">
                                        <div class="custMandi">
                                            <apex:outputPanel layout="none" rendered="{!if(co.S_No__c==1,true,false)}">
                                                <input type="text" value="Freight" disabled="true" />
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="none" rendered="{!if(co.S_No__c>1,true,false)}">
                                                <apex:inputfield value="{!co.Asset_Specification1__c}"/>
                                               
                                            </apex:outputPanel>
                                        </div>
                                    </td>
                                    <td align="Left" valign="middle">
                                        <div class="custMandi">
                                            <apex:inputfield value="{!co.Suppliers_Name1__c}"  onchange="fun6();" styleClass="selct"/>
                                            
                                        </div>
                                    </td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:inputfield value="{!co.Quantity__c}"  onchange="fun2();"/></div></td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:inputfield value="{!co.Purchase_Cost__c}" onchange="fun2();"/></div></td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:inputfield value="{!co.Total_Cost__c}" /></div></td>
                                    
                                    <apex:outputPanel rendered="{! isUserFromSalesOrTechSales}" layout="none">
                                        <td align="left" valign="middle">
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td  align="left" valign="middle">
                                                        <apex:commandButton value="X" action="{!Del}"  reRender="trp,outid,myPageBlock"  styleClass="custBtn1" rendered="{!if(co.S_No__c==1,false,true)}" >
                                                            <apex:param name="rowToBeDeleted" value="{!co.S_No__c}" assignTo="{!selectedRowIndex}"></apex:param>
                                                        </apex:commandButton> 
                                                    </td>
                                                    
                                                </tr>
                                            </table>
                                        </td>
                                    </apex:outputPanel>                                   
                                </tr>
                            </apex:repeat>
                        </table>
                    </div> 
                    
                    
                    <!--stop-->
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:pageblock>
        <apex:pageblock id="myPageBlock1" title="PRODUCT DETAILS">
            <div align="right">
                <apex:outputPanel rendered="{! isUserFromSalesOrTechSales}" layout="none">
                    <apex:commandbutton value="Add +"  action="{!Add1}"   reRender="trp,outid,myPageBlock1"  styleClass="custBtn2" oncomplete="focusfun();"/>
                </apex:outputPanel>
            </div>
            <apex:outputPanel id="theSection">
                <apex:outputPanel id="trp">
                    <div class="table-responsive">
                        <table width="100%" border="1" cellspacing="1" cellpadding="5" class="mainTableRepeat table" bgcolor="#a19300">
                            <tr>
                                <th align="left" valign="middle">Material Name</th>
                                <th align="left" valign="middle">Projected Sales Volume</th>
                                <th align="left" valign="middle">Expected Selling Price</th>
                                <th align="left" valign="middle">Estimated Annual Sales</th>
                                <th align="left" valign="middle">Standard Cost</th>
                                <th align="left" valign="middle">Gross Margin</th>
                                <th align="left" valign="middle">Gross Margin In Percentage</th>
                                <apex:outputPanel rendered="{! isUserFromSalesOrTechSales}" layout="none">
                                    <th align="left" valign="middle"></th>
                                </apex:outputPanel>
                            </tr>
                            <apex:variable var="custIterator" value="{!0}"/>
                            <apex:repeat value="{!justfylist}" var="co" id="therepeat">
                                <tr>
                                    <!--<td align="left" valign="middle"><apex:inputfield value="{!co.S_No__c}" list="listtocol"/></td> -->
                                    <td align="left" valign="middle">
                                        <div class="custMandi"><apex:inputfield value="{!co.MaterialName__c}"  onchange="fun4();" ></apex:inputfield>
                                        </div>
                                    </td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:outputfield value="{!co.Projected_Sales_Volume__c}" /></div></td>      
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:outputfield value="{!co.Excepted_Selling_Price__c}" /></div></td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:Outputfield value="{!co.Estimated_Annual_Sales__c}" /></div></td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:outputfield value="{!co.Standard_Cost__c}" /></div></td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:outputfield value="{!co.Gross_Margin__c}" /></div></td>
                                    <td align="Left" valign="middle"><div class="custMandi"><apex:outputfield value="{!co.Gross_Margin_In_Percentage__c}" /></div></td>
                                    
                                    <apex:outputPanel rendered="{! isUserFromSalesOrTechSales}" layout="none">
                                        <td align="left" valign="middle">
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td  align="left" valign="middle">
                                                        
                                                        <apex:commandButton value="X" action="{!Del1}"  reRender="trp,outid,myPageBlock"  styleClass="custBtn1">
                                                            <apex:param name="rowToBeDeleted" value="{!co.S_No__c}" assignTo="{!selectedRowIndex1}"></apex:param>
                                                        </apex:commandButton> 
                                                        
                                                    </td>
                                                    
                                                </tr>
                                            </table>
                                            
                                            
                                        </td>
                                    </apex:outputPanel>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div> 
                    
                    <center>
                        <apex:actionStatus startText=" Processing the stuff " stopText=" Done " id="counterStatus" > <apex:facet name="start" >Processing... <img src="/apexpages/devmode/img/saveStatus.gif" /> </apex:facet> <apex:facet name="stop"> 
                            <apex:commandbutton value="Save" action="{!savec}" styleClass="custBtn" id="register-form" status="counterStatus" rerender="counterStatus,errmsg,errmsg1,trp,errormsg"/>  
                            </apex:facet>   </apex:actionStatus>  
                        <apex:commandButton value="Cancel" action="{!cancel}" styleClass="custBtn"/>
                        
                    </center>
                    <!--stop-->
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:pageblock>
    </apex:form>
</apex:page>