<apex:page standardController="Invoice__c" showHeader="false" label="ShowInvoiceLink" standardStylesheets="false" >
<style>
body {font-family: Arial; font-size: 11px;  font-weight: bold; }
</style>
 <apex:outputPanel rendered="{!NOT(ISNULL(Invoice__c.Document_Link_Text__c))}" layout="block" style="text-align: right;">
  <apex:form id="formArea">
     <apex:pageBlock id="blkMain" >
     <apex:pageBlockButtons location="top" styleClass="">
      <apex:outputLink value="{!Invoice__c.Document_Link_Text__c}" target="_blank" styleClass="btn" style="text-decoration:none;padding:4px;color:grey">View Invoice Document</apex:outputLink>
     </apex:pageBlockButtons>
    </apex:pageBlock>
  </apex:form>
 </apex:outputPanel>
</apex:page>