<apex:page showHeader="false" sidebar="false" docType="html-5.0" cache="false">
    <apex:stylesheet value="{!URLFOR($Resource.SLDS092, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
    <apex:includeScript value="/lightning/lightning.out.js"/>
	<apex:includeScript value="{!URLFOR($Resource.BabelPolyfill, '/')}" />
    
    <div id="lightning" class="slds"></div>

    <script>
        var recordId = '{!$CurrentPage.parameters.Id}';
        var erpNo = '{!$CurrentPage.parameters.erpNo}';
        var companyCode = '{!$CurrentPage.parameters.companyCode}';
        var accountType = '{!$CurrentPage.parameters.accountType}';
        var uiTheme = '{!$User.UIThemeDisplayed}';

        $Lightning.use("c:FinancialReportsApp", function() {

            $Lightning.createComponent("c:FinancialReports", {accountId: recordId, 'erpNo': erpNo, 'companyCode': companyCode, 'accountType': accountType, 'reportType': 'productMixBySalesReps', uiTheme: uiTheme}, "lightning", function(cmp) {
                console.log('Component successfully created');
            });

        });
    </script>
</apex:page>