<apex:page showHeader="false" sidebar="false" docType="html-5.0" standardController="Account">
    <apex:stylesheet value="{!URLFOR($Resource.SLDS092, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
    <apex:includeScript value="/lightning/lightning.out.js"/>
	<apex:includeScript value="{!URLFOR($Resource.BabelPolyfill, '/')}" />
    
    <div id="lightning" class="slds"></div>

    <script>
        var accountId = '{!Account.Id}';
        var uiTheme = '{!$User.UIThemeDisplayed}';

        $Lightning.use("c:FinancialReportsApp", function() {

            $Lightning.createComponent("c:FinancialReports", {'accountId': accountId, 'reportType': 'salesFigures', uiTheme: uiTheme}, "lightning", function(cmp) {
                console.log('Component successfully created');
            });

        });
    </script>
</apex:page>