<apex:page controller="sika_SCCZoneMaterialsHomePageController" action="{!loadAction}" extensions="sika_SCCZoneCreateEditMaterialCtrlExt3" sidebar="false" ShowHeader="false" cache="false" standardStylesheets="false">

    <apex:composition template="sika_SCCZoneBaseTemplate">
                      
        <apex:define name="pageContent">
         
            <div class="container">
                <div class="row">
                    <c:sika_SCZoneSideNavigation />
                     <apex:form id="theform">
                    <div class="column-wrapper">
                            <span><i><apex:outputText style="font-size:18px" value="Material"/></i></span><br/>
                            <h1><apex:outputText value="New Material" rendered="{!materialID==null}"/>
                            <apex:outputText value="{!theMaterial.Material_Name__c}" rendered="{!materialID!=null}"/><br/>
                            <span><apex:outputText style="font-size: 15px;" value="Type: {!type}" rendered="{!materialID==null}"/>
                            <apex:outputText style="font-size: 15px;" value="Type: {!theMaterial.Type__c}" rendered="{!materialID!=null}"/></span>
                            </h1>
                            <!--<h1>Edit Material: <span><apex:outputText >{!Material__c.Material_Name__c}</apex:outputText></span></h1>-->    <!--Use the contents of this h1 tag for when the user is editing an exisiting material-->
                            <apex:pageBlock >
                            <div class="{!IF(errorsBoolean, 'errorMessage', '')}">
                            <apex:pageMessages escape="false"/> 
                            </div>
                                <div class="info-wrapper">
                                    <apex:pageBlockSection columns="2" title="Material Details">
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Material Name:" for="material_name" style="{!IF(nameError, 'color: rgb(147,0,0);', '')}"/>
                                            <apex:inputField styleClass="{!IF(nameError, 'formFieldError', '')}" value="{!theMaterial.Material_Name__c}"  id="material_name" html-placeholder="New Material"/> 
                                        </apex:pageBlockSectionItem> 
                                       
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Source:" for="source"/>
                                            <apex:inputField value="{!theMaterial.Source__c}" id="source"/> 
                                        </apex:pageBlockSectionItem> 
                                        
                                        <apex:pageBlockSectionItem rendered="{!theMaterial.Type__c != 'Water' && theMaterial.Type__c !='SCM' && theMaterial.Type__c !='Cement'}">
                                            <apex:outputLabel value="Absorption:" for="abs" style="{!IF(absError, 'color: rgb(147,0,0);', '')}"/>
                                            <apex:inputField styleClass="{!IF(absError, 'formFieldError', '')}" value="{!theMaterial.Abs__c}" id="abs"/>  
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageBlockSectionItem rendered="{!theMaterial.Type__c == 'Water' || theMaterial.Type__c =='SCM' || theMaterial.Type__c =='Cement'}"> 
                                            <apex:outputLabel value="Absorption: " for="abs"/>
                                            <apex:inputText style="background-color:#cccccc;" disabled="true" id="abs"/>
                                        </apex:pageBlockSectionItem> 


                                   
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Specific Gravity:" for="spec" style="{!IF(specError, 'color: rgb(147,0,0);', '')}"/>
                                            <apex:inputField styleClass="{!IF(specError, 'formFieldError', '')}" value="{!theMaterial.Spec_Gravity__c}" id="spec"/> 

                                        </apex:pageBlockSectionItem> 
                                     
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Cost per Unit:" for="source" style="{!IF(costError, 'color: rgb(147,0,0);','')}"/>
                                            <apex:inputField styleClass="{!IF(costError, 'formFieldError', '')}" value="{!theMaterial.Cost__c}" id="source"/> 
                                        </apex:pageBlockSectionItem>

                                      
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Unit:" for="unit" style="{!IF(unitError, 'color: rgb(147,0,0);','')}"/>
                                           <!-- <apex:inputField styleClass="{!IF(unitError, 'formFieldError', '')}" value="{!theMaterial.Unit__c}" id="unit"/> -->
                                           <apex:selectList size="1" styleClass="{!IF(unitError, 'formFieldError', '')}" value="{!unitString}" multiselect="false">
                                                <apex:selectOptions value="{!unitOptionList}"/>
                                            </apex:selectList> 
                                        </apex:pageBlockSectionItem>


                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Description:" for="description"/>
                                            <apex:inputField style="width: 80%" value="{!theMaterial.Description__c}" id="Description"/> 
                                        </apex:pageBlockSectionItem> 
                                        
                                        <apex:pageBlockSectionItem rendered="{!theMaterial.Type__c == 'SCM'}">
                                            <apex:outputLabel value="SCM Eff Factor:" for="SCM" style="{!IF(scmError, 'color: rgb(147,0,0);','')}"/>
                                            <apex:inputField styleClass="{!IF(scmError, 'formFieldError', '')}" id="SCM" value="{!theMaterial.SCM_Effective_Factor__c}"/>
                                        </apex:pageBlockSectionItem>

                                    </apex:pageBlockSection>
                                    <div class="button-wrapper">
                                        
                                            <apex:actionStatus id="SaveButtonStatus">
                                              <apex:facet name="stop">
                                               <apex:outputPanel >
                                        
                                                <apex:commandButton action="{!doSave}" styleclass="utility" value="Save" status="SaveButtonStatus" reRender="theform"/>
<!--
                                                <apex:commandButton action="{!doSaveAdd}" styleclass="utility" value="Save and Create New" reRender="theform" status="SaveButtonStatus"><apex:param assignTo="{!newMatBool}" value="true"/></apex:commandButton>
-->
                                                <apex:commandButton action="{!cancelNewMaterial}" value="Cancel" styleclass="utility" immediate="true" />
                                               </apex:outputPanel>
                                              </apex:facet>
                                              <apex:facet name="start">
                                               <apex:outputPanel >
                                                <apex:commandButton styleclass="disabled" value="Saving..." disabled="true" />
                                                <apex:commandButton styleclass="disabled" value="Saving..." disabled="true" />
                                                <apex:commandButton styleclass="disabled" value="Saving..." disabled="true" />
                                               </apex:outputPanel>
                                              </apex:facet>
                                             </apex:actionStatus>
                                             <br/>
                                             
                                    </div>
                                </div>
                            </apex:pageBlock>
                            

                            
                                <apex:outputPanel rendered="{!theMaterial.Type__c == 'Coarse Aggregate' || theMaterial.Type__c == 'Sand'}">
                                <div>
                                    <apex:outputText rendered="{!hasErrors}" value="Please correct the highlighted errors:" styleClass="errorMessage"/>
                                </div>
                                <apex:pageBlock >
                                    <div class="info-wrapper">
                                        <apex:pageBlockTable value="{!sieveWrappers}" var="s">
                                            <apex:column headerValue="Sieve Size" headerClass="" style="width: 160px;">
                                                <apex:outputText value="{!s.theLabel}" rendered="{!IF(theMaterial.Unit_System__c = s.theSOM, true, false)}"/>
                                            </apex:column>
                                            <apex:column headerValue="% Passing" headerClass="" style="width: 150px;">
                                                <apex:inputText value="{!s.theValue}" styleClass="{!IF(s.hasError, 'formFieldError', '')}" rendered="{!IF(theMaterial.Unit_System__c = s.theSOM, true, false)}"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:outputText rendered="{!IF(s.hasError, true, false)}" value="{!s.errorMsg}" style="padding-left: 60px; vertical-align: bottom"/>
                                            </apex:column>
                                        </apex:pageBlockTable>
                                    </div>
                                </apex:pageBlock>
                            </apex:outputPanel>



                    </div>
                    <apex:outputPanel id="tstpopup">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
     
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}"><center>
            <u><apex:outputText style="font-weight:800" value="New Material"/></u>
                <apex:pageMessages id="errmsg"/>
            <br/><br/>
                <apex:outputLabel value="Type?"><br/>

                <apex:selectList required="true" size="1" styleClass="filter_by" value="{!typeString}">
                    <apex:selectOptions value="{!typeList}"/>
                </apex:selectList>
                </apex:outputLabel><br/>
               
                <apex:outputLabel value="Standard (US) or Metric?"><br/>

                <apex:selectList required="true" size="1" styleClass="filter_by" value="{!unitSystem}">
                    <apex:selectOptions value="{!unitSystemList}"/>
                </apex:selectList>
                </apex:outputLabel><br/>
               
                <br/><br/>
                <apex:actionStatus id="SaveButtonStatus2">
                              <apex:facet name="stop">
                               <apex:outputPanel >
                                <apex:commandButton action="{!createNewAfterSave}" styleclass="utility" value="Create" status="SaveButtonStatus2" rerender="errmsg"><apex:param assignTo="{!newMatBool}" value="true"/></apex:commandButton>
                                <apex:commandButton action="{!closePopup}" value="Cancel" styleclass="utility" rerender="tstpopup" immediate="true" />
                               </apex:outputPanel>
                              </apex:facet>
                              <apex:facet name="start">
                               <apex:outputPanel >
                                <apex:commandButton styleclass="utility" value="Loading..." disabled="true" />
                                <apex:commandButton styleclass="utility" value="Loading..." disabled="true" />
                               </apex:outputPanel>
                              </apex:facet>
                             </apex:actionStatus>
                </center>
            </apex:outputPanel>
        </apex:outputPanel>
                        </apex:form>
                </div>
            </div>
              
        </apex:define>
    </apex:composition>
           <style type="text/css">
        .custPopup{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: fixed;
            /* These are the 3 css properties you will need to change so the popup 
            displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can add 
            the height property for a fixed size pop up if you want.*/
            width: 500px;
            margin-left: -250px;
            top:100px;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.70;
            filter: alpha(opacity = 20);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
</apex:page>