<apex:page controller="sika_SCCZoneSupportHomePageCTRL" action="{!loadAction}" cache="false" ShowHeader="false" sidebar="false" standardStylesheets="false">
    <apex:composition template="sika_SCCZoneBaseTemplate">
        <apex:define name="pageContent">
        <script type='text/javascript' src='https://c.la2c1.salesforceliveagent.com/content/g/js/33.0/deployment.js'></script>
        <script type='text/javascript'>
        liveagent.init('https://d.la2c1.salesforceliveagent.com/chat', '57240000000TNuD', '00D40000000IVxs');
        </script>
 
            <div class="container">
            <apex:form >
                <div class="row">
                    <c:sika_SCZoneSideNavigation />
                    <div class="column-wrapper">
                        <apex:pageBlock >
                            <h1>We're Here To Help!
                                <div class="image-buttons">
                                    <div>
                                        <img id="liveagent_button_online_57340000000TNty" style="height: 50px; display: none; border: 0px none; cursor: pointer" onclick="liveagent.startChat('57340000000TNty')" src="https://sika.secure.force.com/sikasc/resource/1414770813000/ServiceCloudLAChatButton" /><img id="liveagent_button_offline_57340000000TNty" style="height: 50px; display: none; border: 0px none; " src="https://sika.secure.force.com/sikasc/resource/1414770813000/ServiceCloudLANoChatButton" />
                                        <script type="text/javascript">
                                        if (!window._laq) { window._laq = []; }
                                        window._laq.push(function(){liveagent.showWhenOnline('57340000000TNty', document.getElementById('liveagent_button_online_57340000000TNty'));
                                        liveagent.showWhenOffline('57340000000TNty', document.getElementById('liveagent_button_offline_57340000000TNty'));
                                        });</script>
                                            <p>Live Agent</p>

                                    </div>
                                    <div>
                                        <a target="sikaWindow" href="{!URLFOR($Resource.SikaDocuments, '')}"><apex:image height="50px" url="{!URLFOR($Resource.SikaLogoCssZip, 'SikaLogoCss/icon-faq.png')}"/></a>
                                        <p>FAQ</p>
                                    </div>
                                    <div>
                                        <a target="sikaWindow" href="{!URLFOR($Resource.SikaDocuments, '')}"><apex:image height="50px" url="{!URLFOR($Resource.SikaLogoCssZip, 'SikaLogoCss/icon-pdf.png')}"/></a>
                                        <p>PDF Instructions</p>
                                    </div>
                                    <div>
                                        <a target="sikaWindow" href="https://www.youtube.com/user/SikaCorpUSA/featured"><apex:image height="50px" url="{!URLFOR($Resource.SikaLogoCssZip, 'SikaLogoCss/icon-walkthrough.png')}"/></a>
                                        <p>SCC Zone Walkthrough</p>
                                    </div>
                                
                                </div>
                            </h1>
                            <apex:pageMessages />

                            <div class="info-wrapper">
                                <c:sika_SCCZoneUserInfoDisplay />
                            </div>
                        
                            <div class="info-wrapper service-request">
                                <c:sika_SCCZoneServiceRequestComponent />
                            </div>

                            <apex:outputText rendered="{!cases != null}">
                                <div class="section-wrapper">
                                   <apex:pageBlockSection title="All Service Requests">
                                        
                                        <apex:pageBlockTable value="{!cases}" var="case">
                                            <apex:column headerValue="Type" value="{!case.SCC_Zone_Case_Types__c}"/>
                                            <apex:column headerValue="Subject">
                                                <apex:outputLink value="/sika_SCCZoneSupportTicket?id={!case.Id}&retURL=sika_SCCZoneSupportHomePage">{!case.subject}</apex:outputLink>
                                            </apex:column>
                                            <apex:column headerValue="Status" value="{!case.Status}"/>
 
                                            <apex:column width="80px" headerClass="left" styleClass="left" headerValue="Created"> 
                                                <apex:outputText value="{0,date,MM'/'dd'/'YYYY}">
                                                    <apex:param value="{!case.CreatedDate}"/>
                                                </apex:outputText>
                                            </apex:column>
                                            <apex:column width="80px" headerClass="" styleClass="right" headerValue="Modified"> 
                                                <apex:outputText value="{0,date,MM'/'dd'/'YYYY}">
                                                    <apex:param value="{!case.lastModifiedDate}"/>
                                                </apex:outputText>
                                            </apex:column>

                                        </apex:pageBlockTable>

                                    </apex:pageBlockSection>
                                </div>
                            </apex:outputText>

                            




                        </apex:pageBlock>
                    </div>
                </div>
            </apex:form>
            </div>
        </apex:define>
    </apex:composition>
</apex:page>