<apex:page showHeader="false" sidebar="false" standardStylesheets="false">


    <apex:composition template="sika_SCCZoneBaseTemplate">
    
        <apex:define name="pageContent">
            <div class="container">
                <div class="row">
                    <div class="login wide-container">
                        <apex:outputText rendered="{!IF($CurrentPage.parameters.success = 'true', true, false)}">
                            <h1>Request SCC Zone Access Confirmation</h1>
                            <div class="description">
                                <p>Thank you for your interest in Sika's SCC Zone web application.</p>
                                <p>We will review your request and get back to you in 2-3 business days.</p>
                            </div>
                        </apex:outputText>
                        <apex:outputText rendered="{!IF($CurrentPage.parameters.success = 'false', true, false)}">
                            <h1>Error:</h1>
                            <div class="description">
                                <p>Due to a system error, your request was not processed successfully.</p>
                                <p>We apologize for the inconvenience, and ask that you <a href="mailto:{!$Site.AdminEmailAddress}">email us directly</a> so that we can expedite your request.</p>
                            </div>
                        </apex:outputText>
                    </div>
                    <div style="width: 100%; margin-right: auto; margin-left: auto;">
                      <a href="/SCCZone" style="display:block; text-align: center;">&laquo; Return</a>
                    </div>
                </div>
          </div>
        </apex:define>
    </apex:composition>

</apex:page>