<!--* **********************************************************
Name        :WarrantyProducts
Description :Designed to add products to a warranty
Author      :Shradha Bansal
Created On  :12/January/2015
Modified On :20/January/2015
*********************************************************** -->




<apex:page showHeader="False" sidebar="False" controller="CommunityWarrantyProductsController" Title="Warranty Products |Sika RSB Warranty Community ">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
<script>
     
</script>
 
<apex:stylesheet value="{!URLFOR($Resource.ProjectCss)}"/>
<apex:stylesheet value="{!URLFOR($Resource.SikaComCss)}"/>
<style>
    
    @font-face{ font-family: Klavica_Bold; src: url("{!URLFOR($Resource.Klavica_Bold)}");}
    @font-face{ font-family: Klavika_BoldItalic; src: url("{!URLFOR($Resource.Klavika_BoldItalic)}");}
    @font-face{ font-family: klavika_lightplain_basic; src: url("{!URLFOR($Resource.Klavika_Light)}");}
    @font-face{ font-family: Klavika_LightItalic; src: url("{!URLFOR($Resource.Klavika_LightItalic)}");}
    @font-face{ font-family: klavika_mediumplain_basic; src: url("{!URLFOR($Resource.Klavika_Medium)}");}
    @font-face{ font-family: Klavika_MediumItalic; src: url("{!URLFOR($Resource.Klavika_MediumItalic)}");}
    @font-face{ font-family: klavika_regularplain_basic; src: url("{!URLFOR($Resource.Klavika_Regular)}");}
    @font-face{ font-family: Klavika_RegularItalic; src: url("{!URLFOR($Resource.Klavika_RegularItalic)}");}
    
</style>

<body class="contentpage skin-color- " style="background:#D9DADB">
        
        <div class="page">
            <c:Sika_Header />
            <div class="MainContent">
                    <br/>
                    <div class="resTr">
                    </div>
                    <div class="resTr">
                        <c:Sika_Left_Nav /><!-- Component For Left Navigation-->
                        <div class="resTd" style="width:75%">
                            <apex:form id="prodFrm" >
                            <apex:actionFunction name="searchProducts" action="{!selectedProducts}" reRender="prod_li"/>
        
                            <div class="resTable">
                                <div style=" color:#c6c7c8">
                                    <a href="#" class="hovercolor" >Warranty Management Home Page</a> 
                                    > Add/Remove Warranty Products <br/><br/>
                                </div>
                                <div class="resTr"> 
                                    <div class="title-box" style="height:26px;width: 728px;">
                                       <h1 class="base"> WARRANTY PRODUCTS</h1>
                                    </div>
                                 </div> 
                                 <!-- <div class="resTr">
                                        <div  style="font-family:  'klavika_regularplain_basic', Arial, sans-serif;font-size: 14px;line-height: 17px;">
                                            <br/>Welcome to the Warranty Management Home Page.  Use the links on the left to:<br/><br/>

                                                    <ul style="list-style-type:disc">
                                                    <li>Create a project record and add one or more Warranties</li>
                                                    <li>View &#38; Update existing Projects and Warranties</li>
                                                    <li>Add additional Warranties to existing Projects</li>
                                                    </ul><br/>
                                                    Use the link for Warranty Instructions for details on managing your warranties</div>
                                 </div>                          
                            </div>-->
                            
                        </div>
                        
                        <div class="resTr">
                             <div class="resTd">
                                 <b>Search</b>
                             </div>
                             
                             <table>
                             <tr>
                                <td> <apex:inputText value="{!SelectedProddesc}" onkeyup="searchProducts();return false;" style="display:none"/> </td>
                                <td>Search :&nbsp;&nbsp; <apex:inputText value="{!SelectedProdName}" onkeyup="searchProducts();return false;"/> </td>
                              <!--  <td>&nbsp;&nbsp;Product Description &nbsp;&nbsp;<apex:inputText value="{!SelectedProddesc}" onkeyup="searchProducts();return false;"/></td>-->
                        </tr>
                        </table>
                        </div>
                        <div class="resTr">
                                     <div class="resTd" style="width:100%">
                                       <br/> 
                                       <apex:outputPanel id="prod_li" rendered="{!warrantyProductList.size>0}" >
                                          <div style="font-weight:bold;width:99%;">
                                             Add Warranty Products
                                         </div>
                                          <table style="border:2px solid rgb(156, 158, 159);width:99%;">
                                              <tr class="border">
                                                  <th style="width:5%;">&nbsp;</th>
                                                  <th style="width:20%;">Product Name</th>
                                                  <th style="width:25%;">Product Description</th>
                                              </tr>                                      
                                             <apex:repeat value="{!warrantyProductList }" var="wp">
                                                 <tr style="margin-left:10px">
                                                 <td style="width:5%"><apex:inputCheckbox value="{!wp.IsSelected}"/></td>
                                                 <td style="width:30%"><apex:outputText value="{!wp.CatalogProduct.Product2.Name}"/></td>
                                                 <td style="width:25%"><apex:outputText value="{!wp.CatalogProduct.Product2.Description}"/></td>
                                                 </tr>
                                             </apex:repeat>
                                             <tr>
                                                 <td align="center" colspan="3">
                                                     <apex:commandButton value="Prev" title="Previous" image="{!URLFOR($Resource.ArrowLeft)}" style="border:0px;background:white;height:18px;width:13px;" disabled="{!isFirst}" reRender="prodFrm" action="{!previous}" />
                                                     <apex:commandButton value="Next" title="next" image="{!URLFOR($Resource.ArrowRight)}"  style="border:0px;background:white;height:18px;width:13px;" disabled="{!isLast}" reRender="prodFrm"  action="{!next}" />
                                                 </td>
                                             </tr>
                                             <tr>
                                                <td align="center" colspan="3">Displaying page {!currentPage} of {!totalPages}</td>
                                             </tr>
                                         </table>
                                         <br/>
                                         <apex:commandButton id="btnAddProducts" value="Add Products" action="{!CreateWarrantyLines}" style="box-shadow: 2px 2px 3px #D0D0D0;margin: 10px 3px 10px 10px;height:23px;font-size:10px;float:left;"/>
                                         <apex:commandButton id="btnBackToWarranty" value="Back to Warranty" onclick="window.open('{!$Page.CommunityWarrantyEdit}?wid={!warrantyId}','_top');return false;" style="box-shadow: 2px 2px 3px #D0D0D0;margin: 10px 3px 10px 10px;height:23px;font-size:10px;float:left;"/>
                                         </apex:outputPanel>
                                         <apex:outputPanel rendered="{!warrantyProductList.size <= 0}">
                                             <div style="text-align: center; font-size: 20px; margin: 2%; color: #87888a;background: #eceded;height: 18px;padding: 8px;"> No Products Available for Selection  </div>
                                         </apex:outputPanel>
                                    </div>
                                    
                                </div>
                            </apex:form>
                            </div>
                            
                        <div class="resTd">
                            <div class="resTable">
                                <div class="resTr" style="height:100px">
                                </div>
                                <div class="resTr" style="margin: 6%;">
                                        <!--<c:Sika_Right_Nav />  component for Right Nav -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
            <c:Sika_Footer /><!-- Component for footer-->
        </div>

</body>
</apex:page>