<apex:component id="sika_PTSTopNavigation">
  <apex:attribute name="firstName" type="String" description="The current User's First Name" required="false" />
  <apex:attribute name="isUserGuest" type="Boolean" description="True if the value of the picklist $User.UserType = 'guest'" required="false" />
  <div class="nav">
    <div class="col span4">
      <div class="mod mod-main-navigation ">
        <ul class="mainnav">
          <li class="active hassubmenu"> <a href="/PTS/sika_PTSLoginPage" title="User Info" class="main-navi-tab">My Zone</a>
          </li>
        </ul>
      </div>
        
      </div>
      <div class="logout-wrapper">
        <apex:outputPanel rendered="{!NOT(isUserGuest)}">
          <apex:form >
              <span>Hello, {!firstName}!</span>&nbsp;
              <apex:outputLink value="/secur/logout.jsp" title="Log-out"><img src="{!URLFOR($Resource.SikaLogoCssZip, 'SikaLogoCss/logout-icon.png')}" style="width: 25px; position: relative; top: -5px;"/>
              </apex:outputLink>
          </apex:form>
        </apex:outputPanel>
      </div>
      <!--<div class="breadcrumb"><a href="">Level 1</a> &gt; <a href="">Level 2</a> &gt; <span>Current page</span></div>-->
  </div>
</apex:component>