<apex:component >
<!-- There should be Project.css and SikaCom.css included on the page to get proper styling of the this component -->
  <div class="header">
                <div class="row">
                    <div class="col span2">
                        <div class="mod mod-language-navigation">
                            <div class="bd">
                                <ul class="row">
                                    <li class="col">
                                        <a title="Contact" href="http://usa.sika.com/en/group/SikaCorp/information_request.html">Contact</a>
                                    </li>
                                    <li class="col">
                                        <a title="Sika Group" href="http://www.sika.com" class=" crossdomain {loginDomain:'profile14.sika.com'} ">Sika Group</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col span3 last-col">
                        <div class="mod mod-logo" data-composer-template="logo">
                            <a href="http://usa.sika.com/en/group.html" title="Sika Corporation U.S."><img src="http://usa.sika.com/etc/config/_jcr_content/configOther/logo.img.png/1396257186871.png" alt="" class=""></img></a>
                        </div>
                        <div class="mod mod-co-branding" data-composer-template="cobranding">
                            <a href="http://usa.sika.comhttp://usa.sika.com/en/group.html" title="Sika Corporation U.S."></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="" style="height: 32px;">
                <div class="resTr" style="background:#D9DADB">
                    <div class="headLink" style="margin-top: 4px;display: inline-block;">
                        <a class="headLink-sub" href="http://usa.sika.com/en/group.html">SIKA CORPORATION U.S.</a>
                    </div>
                    <div class="headLink" style="display: inline-block;">
                        <a class="headLink-sub" href="#">PRODUCTS &#38; SOLUTIONS</a>
                    </div>
                    <div class="headLink" style="display: inline-block;">
                        <a class="headLink-sub"  href="#">TECHNICAL DOWNLOAD</a>
                    </div>
                    <div style="display:{!IF($User.FirstName != 'Warranty' && $User.FirstName != 'Warranty','','none')};float:right;color: grey;font-weight: bold;margin-top: 0.5%;margin-right: 2%;">
                        Hello, {!$User.FirstName} ! <apex:outputLink value="/secur/logout.jsp" ><apex:image url="{!$Resource.sika_logout_icon}" width="20" height="20"/></apex:outputLink>
                    </div>
                    <div style="float:right;color: grey;font-weight: bold;margin-top: 0.5%;">
                        <apex:outputLink value="{!$Site.Prefix}/secur/logout.jsp" rendered="" >[Logout]</apex:outputLink>
                    </div>

               </div>
               
            </div>
            <!--Table closed-->
</apex:component>