.THIS .allign-right {
    text-align: right;
}

.THIS .allign-left {
    text-align: left;
}

.THIS .first-column {
    width: 100px;
}

.THIS .slds-table--bordered .top-border--no {
    border-top: 0;
}

.THIS .slds-table--bordered.top-border--no {
    border-top: 0;
}

.THIS .border-bottom--no {
    border-bottom: 0;
}

.THIS .border-right--no {
    border-right: 0;
}

.THIS table .slds-box {
    border-radius: 0;
}

.THIS table tfoot td.slds-box {
    border-top: 0;
    border-bottom: 0;
}

.THIS .subtotals {
    background-color: #F5B325;
    color: white;
}

.THIS .grandtotals {
    /*background-color: #4F6A92;*/
    background-color: #F5B325;
    color: white;
}

.THIS .slds-size--1-of-14 {
    width: 7.14285%;
    min-width: 95px;
}

.THIS .slds-size--1-of-14.month {
    min-width: 140px;
}

.THIS .fixed.slds-size--1-of-14 {
    width: 7.14285%;
    min-width: 95px;
    max-width: 95px;
}

.THIS .slds-size--2-of-14 {
    width: 14.28571%;
    min-width: 190px;
}

.THIS .fixed.slds-size--2-of-14 {
    width: 14.28571%;
    min-width: 190px;
    max-width: 190px;
}

.THIS .slds-size--3-of-14 {
    min-width: 285px;
}

.THIS .slds-size--4-of-14 {
    width: 28.57142%;
}

.THIS .slds-size--1-of-18 {
    width: 5.55%;
    min-width: 95px;
}

.THIS .slds-size--1-of-18.month {
    min-width: 140px;
}

.THIS .slds-size--1-of-18.fixed {
    width: 5.55%;
    min-width: 95px;
    max-width: 95px;
}

.THIS .slds-size--2-of-18 {
    width: 11.11%;
    min-width: 190px;
}

.THIS .slds-size--3-of-18 {
    width: 16.66%;
}

.THIS .slds-size--4-of-18 {
    width: 22.22%;
}

.THIS .bold {
    font-weight: bold;
    margin-right: 5px;
}

.THIS .currentYearBorder {
    border-right: 1px solid;
    border-color: #d8dde6;
}

.THIS .headerInfo {
    padding-left: .5rem;
}

.THIS .materialName {
    min-width: 208px;
}

.THIS .accountsTop100Res {
    min-width: 550px;
}

.THIS .matDescription {
    min-width: 250px !important;
}

.THIS .middleHeader {
    min-width: 200px;
}

.THIS .largeHeader {
    min-width: 350px;
}

.THIS .smallHeader {
    min-width: 115px;
}