.THIS .checkbox {
    height: 18px;
    width: 18px;
    text-align: center;
    font-size: 200%;
}

.THIS .uiDatePickerGrid--default .calGrid th {
    padding: 0px !important;
}
.THIS a.uiDayInMonthCell--default {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
}