.THIS.dualpane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.THIS.dualpane > div {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 250px;
}

.THIS .checkbox {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 4px;
}

.THIS .bw_selected.checkbox:after {
    content: '\2714';
    margin-left: 3px;
}

.THIS td {
    vertical-align: middle;
    padding-left: 10px;
}

.THIS td:first-child {
    padding-left: 0px;
}

.THIS tr.bw_selected td {
    background : #CCF;
}

.THIS td a {
    text-decoration: underline;
}