</div>
<style>
    #sidebarDiv .recentItemModule:nth-child(2) {
      display: none;
    }
</style>
<div style="background-color: #7E7E7E; color:white; padding-top:15px; padding-left:20px; padding-bottom:10px; font-size:12px; font-family:Arial, Helvetica, sans-serif">
<p><b>LEGAL NOTICE,TERMS & CONDITIONS</b></p>
<p><a href="http://usa.sika.com/en/footer/legal_notice.html" style="color:white" target="_blank">Legal Notice</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://usa.sika.com/en/group/SikaCorp/termsandconditions.html" style="color:white" target="_blank">Terms & Conditions of Sale</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://usa.sika.com/en/group/SikaCorp/terms-and-conditions-of-purchase.html" style="color:white" target="_blank">Terms & Conditions of Purchase</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://usa.sika.com/en/footer/legal_notice_CA.html" style="color:white" target="_blank">California Legal Notice</a> </p>
</div></body>
</html>
